h1 {
	font-family: Arial;
	font-size: 30px;
	text-align: center;
	color: blue;
}

.line {
	fill: none;
}

.chart-capt {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 900px;
    padding: 0 10px;
		font-family: Arial;
}

.chart-capt h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333; /* Dark colour */
}

.chart-capt p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin: 0;
}

svg {
	shape-rendering: geometricPrecision; /* Ensures higher quality lines */
}

.placeholder {
	text-align: center;
	border-radius: 8px;
	width: 100px;
	height: 100px;
	background-color: grey;
	margin: 5px;
	float: left;
	transition-duration: 0.7s;
}

.placeholder:hover {
	border: 2px solid black;
	transform: scale(1.25);
	transition-duration: 0.7s;
}

#gallery {
	display: block;
	width: 50%;
	height: 150px;
}
